.header {
	top:0pt;
	left:0pt;
	width:100%;
	position:fixed;
	text-align:center;
	font-family: Verdana;
	background-color: #FF00FF;
	padding: 10pt 10pt 10pt 10pt;
	
}

a:link {
	text-decoration: none;
	}
	
a:visited {
	color:#9400D3;
	text-decoration:none;
}

a:hover {
	text-decoration: none;
	font-weight:bold;
}
a:active {
	color: Red;
}
	
p {
	font-family: Verdana;
	}
	
img {
	width:200px;
	height:200px;
	}
	
body {
	margin-top:100pt;
	}
.sidebar {
	float:right;
	width:20%;
	background-color: #DB7093;
	font-family: Verdana;
	padding: 10pt 10pt 10pt 10pt;
	margin-top: -25pt;
	margin-right: -20pt;
	}
	
.menu  li {
	display:inline;
	padding:10pt;
	background-color: #FFA500;
	}

ul li {
	font-family:Verdana;
	list-style-type: square;
	}
h1 {
	font-style: italic;
	color: LimeGreen;
	}


	


	
